.grid {
  padding-top: 4em;
  display: grid;
  gap: 2em;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "box-one"
    "box-two"
    "box-three"
    "box-four"
    "box-five";
  grid-auto-flow: dense;
}

.grid-item {
  border-radius: 2em;
  width: fit-content;
  height: 100%;
}

.grid-item img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 2em;
}

.box-one,
.box-three,
.box-five {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content;
  grid-auto-flow: dense;
}

.box-one {
  grid-template-areas: "item-1 item-2";
  grid-area: box-one;
}

.box-two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2em;
  grid-template-areas:
    "item-3 item-4 item-6"
    "item-3 item-5 item-6";
  grid-area: box-two;
  grid-auto-flow: dense;
}

.box-three {
  grid-template-areas: "item-7 item-8";
  grid-area: box-three;
}

.box-four {
  display: grid;
  gap: 2em;
  grid-template-areas: 
    'box-four-left-top box-four-right'
    'box-four-left-middle box-four-right'
    'box-four-left-bottom box-four-right';
  grid-auto-columns: auto;
  grid-area: box-four;
  grid-auto-flow: dense;
}

.box-four-left-top {
  display: grid;
  gap: 2em;
  grid-template-areas: "item-9 item-10 item-10";
  grid-template-columns: 0.9fr 1.1fr;
  grid-area: box-four-left-top;
  grid-auto-flow: dense;
}

.box-four-left-middle {
  display: grid;
  gap: 2em;
  grid-template-areas: 'item-11 item-11 item-12';
  grid-template-columns: 1.1fr 0.9fr;
  grid-area: box-four-left-middle;
  grid-auto-flow: dense;

}

.box-four-left-bottom {
  grid-area: box-four-left-bottom;
  grid-auto-flow: dense;
}

.box-four-right {
  grid-area: box-four-right;
  grid-auto-flow: dense;
}

.box-five {
  grid-template-areas: "item-15 item-16";
  grid-area: box-five;
  grid-auto-flow: dense;
}

.item-1 {
  grid-area: item-1;
}

.item-2 {
  grid-area: item-2;
}

.item-3 {
  grid-area: item-3;
}

.item-4 {
  grid-area: item-4;
}

.item-5 {
  grid-area: item-5;
}

.item-6 {
  grid-area: item-6;
}

.item-7 {
  grid-area: item-7;
}

.item-8 {
  grid-area: item-8;
}

.item-9 {
  grid-area: item-9;
}

.item-10 {
  grid-area: item-10;
}

.item-11 {
  grid-area: item-11;
}

.item-12 {
  grid-area: item-12;
}

.item-13 {
  grid-area: item-13;
}

.item-14 {
  grid-area: item-14;
}

.item-15 {
  grid-area: item-15;
}

.item-16 {
  grid-area: item-16;
}
